In [1]:
import pandas as pd

In [2]:
df_rock = pd.read_csv('/Users/ndias/PycharmProjects/Logistic Regression from Scratch/Topics/Reshaping and Pivot Tables/Mean/data/dataset/input.txt')

In [3]:
df_rock.head()

   Unnamed: 0  null_deg    60_deg    90_deg   180_deg   240_deg labels
0           0  0.314574  0.120068  0.349603  0.332738  0.086790      R
1           1  0.354922  0.281389  0.086031  0.525604  0.528554      R
2           2  0.324999  0.289637  0.316176  0.307918  0.063253      R
3           3  0.715835  0.426479  0.791659  0.733441  0.697504      M
4           4  0.612430  0.737511  0.922184  0.663419  0.721550      M

In [40]:
pivot1 = pd.pivot_table(df_rock, index='labels', values='null_deg', aggfunc='mean')

In [41]:
pivot1

        null_deg
labels
M       0.725274
R       0.269734

In [42]:
print(pivot1.iloc[1:, :])

        null_deg
labels
R       0.269734

In [44]:
table = df_rock.pivot_table(index='labels', values='null_deg').round(2)

In [45]:
print(table)

        null_deg
labels
M           0.73
R           0.27